# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs / Editors
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

